<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Page Not Found</title>
    <!-- Bootstrap -->
    <link href="/vendor/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<article class="well container">
    <h1>Error 404: Page not found!</h1>
</article>

</body>
</html>