<?php
/**
 * Created by PhpStorm.
 * User: alex
 * Date: 11/1/15
 * Time: 7:37 PM
 */

$report = $this->data->get('report');

echo '<html><head><title>CrawlerReport</title></head><body>';
echo '<table>';
echo '<tr><td>URL</td><td>Img count</td><td>Duration</td></tr>';

foreach($this->data->get('report') AS $id => $pageInfo) {
    echo '<tr>';
    echo '<td>' . $pageInfo['url'] . '</td>';
    echo '<td>' . $pageInfo['img_counter'] . '</td>';
    echo '<td>' . $pageInfo['duration'] . '</td>';
    echo '</tr>';
}

echo '</table>';
echo '</body></html>';