<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Hello hello</title>
    <!-- Bootstrap -->
    <link href="/vendor/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div id="main-content" class="container"></div>

<!-- Load Vendors and Application with require.js -->
<script src="/vendor/requirejs/require.js" data-main="/app/main"></script>


<script id="main-layout-view-template" type="text/template">
    <div id="article"></div>
    <div id="comments"></div>
    <div id="comment-form"></div>
</script>

<script id="article-content" type="text/template">
    <article class="well">
        <h1>
            <?=$this->data->get('article')[0]['id'];?>. <?=$this->data->get('article')[0]['title'];?>
        </h1>
        <p>
            <?=$this->data->get('article')[0]['content'];?>
        </p>
    </article>
</script>

<script id="comment-view" type="text/template">
    <td>
        <h3><%= id %>. <%= title %></h3>
        <p><%= content %></p>
        <p class="text-muted">Author: <strong><%= author_name %></strong></p>
    </td>
</script>

<script id="comment-form-tpl" type="text/template">

    <div class="form-group">
        <input type="button" id="comment-smiles-process" class="btn btn-info" value="Process Smiles in Comments">
    </div>

    <h1>Leave your comment:</h1>

    <div class="form-group">
        <label for="comment-username">Your name</label>
        <input type="email" class="form-control" id="comment-username" placeholder="Your name">
    </div>

    <div class="form-group">
        <label for="comment-title">Message title</label>
        <input type="email" class="form-control" id="comment-title" placeholder="Title">
    </div>

    <div class="form-group">
        <label for="comment-content">Your message</label>
        <textarea class="form-control" rows="3" id="comment-content" placeholder="Message"></textarea>
    </div>

    <div class="form-group">
        <input type="submit" id="comment-submit" class="btn btn-primary">
    </div>

</script>



</body>
</html>